<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=0a5f4b3188f9bbb0"/>
		<section name="EDSLoaderConfig" type="Aircom.EDS.Loader.Data.SettingsData, Aircom.EDS.Loader.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0a5f4b3188f9bbb0"/>
		<section name="address-configuration" type="Aircom.EWS.Framework.WCF.AddressConfigurationConfigSection, Aircom.EWS.Framework.WCF, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0a5f4b3188f9bbb0"/>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
	</configSections>

	<!--This section is used to configure the endpoint addresses used by this service-->
	<address-configuration address="localhost">
		<services>
			<service name="Aircom.EDS.Presentation.ServiceContract.EDS" port="8734" address="/Aircom/EDS/TCP"/>
		</services>
	</address-configuration>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="EDSEndpoint" closeTimeout="00:03:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="100000000" maxBufferPoolSize="524288" maxReceivedMessageSize="204003200" messageEncoding="Mtom" transferMode="Streamed">
					<readerQuotas maxDepth="32" maxStringContentLength="131072" maxArrayLength="100000" maxBytesPerRead="4096" maxNameTableCharCount="100000"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
			<netTcpBinding>
				<binding name="EDSNetTcpBinding" sendTimeout="00:10:00" transferMode="Streamed" maxReceivedMessageSize="204003200">
					<readerQuotas maxStringContentLength="131072" maxArrayLength="100000" maxNameTableCharCount="100000" />
					<security mode="None">
						<transport clientCredentialType="None" protectionLevel="None"/>
						<message clientCredentialType="None"/>
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://overwritten_by_address_configuration_block" binding="netTcpBinding" bindingConfiguration="EDSNetTcpBinding" contract="Aircom.EDS.Presentation.XML.ASSET.Contracts.IEDSService" name="Aircom.EDS.Presentation.ServiceContract.EDS"/>
		</client>
	</system.serviceModel>

	<EDSLoaderConfig CreateObjectsPerItem="50" CreateMaxItemsPerRequest="4" ModifyMaxItemsPerRequest="4" ModifyObjectsPerItem="50" DeleteMaxItemsPerRequest="10" QueryObjectsPerItem="100" QueryItemsPerRequest="4"/>

	<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Information" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=0a5f4b3188f9bbb0" traceOutputOptions="None" filter="All" type="Aircom.EWS.Framework.Logging.ConsoleTraceListener, Aircom.EWS.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0a5f4b3188f9bbb0" name="Console Listener" initializeData="" formatter="Text Formatter"/>
			<add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=0a5f4b3188f9bbb0" traceOutputOptions="None" filter="Error" type="Aircom.EWS.Framework.Logging.DebugOutputTraceListener, Aircom.EWS.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0a5f4b3188f9bbb0" name="EDS Trace Listener" initializeData="" formatter="Text Formatter"/>
			<add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.SystemDiagnosticsTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=0a5f4b3188f9bbb0" traceOutputOptions="None" filter="All" type="System.Diagnostics.DefaultTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="System.Diagnostics.ConsoleTraceListener" initializeData=""/>
			<add source="EDS Loader Error Report" formatter="Text Formatter" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=0a5f4b3188f9bbb0" traceOutputOptions="None" filter="Error" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=0a5f4b3188f9bbb0" name="Windows Event Log Errors TraceListener"/>
			<add source="EDS Status Report" formatter="" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=0a5f4b3188f9bbb0" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=0a5f4b3188f9bbb0" name="Windows Event Log Status TraceListener"/>
			<add fileName="trace-xml.xml" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.XmlTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=0a5f4b3188f9bbb0" traceOutputOptions="ThreadId" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.XmlTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=0a5f4b3188f9bbb0" name="XML Trace Listener"/>
		</listeners>
		<formatters>
			<add template="{timestamp}:{message}{newline}{dictionary()}{keyvalue(EventData)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=0a5f4b3188f9bbb0" name="Text Formatter"/>
		</formatters>
		<categorySources>
			<add switchValue="All" name="DetailedEvent"/>
			<add switchValue="Error" name="Errors">
				<listeners>
					<add name="Windows Event Log Errors TraceListener"/>
				</listeners>
			</add>
			<add switchValue="Information" name="Event">
				<listeners>
					<add name="Console Listener"/>
				</listeners>
			</add>
			<add switchValue="All" name="Information">
				<listeners>
					<add name="Console Listener"/>
				</listeners>
			</add>
			<add switchValue="All" name="Status">
				<listeners>
					<add name="Console Listener"/>
					<add name="Windows Event Log Status TraceListener"/>
				</listeners>
			</add>
			<add switchValue="All" name="System.ServiceModel"/>
			<add switchValue="ActivityTracing" name="Trace"/>
			<add switchValue="Warning" name="Warnings"/>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events"/>
			<notProcessed switchValue="All" name="Unprocessed Category"/>
			<errors switchValue="Error" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Windows Event Log Errors TraceListener"/>
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>

	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<!-- http://msdn.microsoft.com/en-us/library/cc440941.aspx -->
			<!-- Lifetime manager types -->
		<alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,
				Microsoft.Practices.Unity, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<alias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,
				Microsoft.Practices.Unity, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>	
		<container name="Aircom.EWS.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0a5f4b3188f9bbb0"/>
	</unity>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>