<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EDSEndpoint" messageEncoding="Mtom" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="EDSWCFNetTCPEndPoint" transferMode="Streamed">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://win-2qrqvs61lco:8732/Aircom/EDS/WS"
                binding="basicHttpBinding" bindingConfiguration="EDSEndpoint"
                contract="EDSClient.EDS" name="EDSEndpoint" />
            <endpoint address="net.tcp://win-2qrqvs61lco:8734/Aircom/EDS/TCP"
                binding="netTcpBinding" bindingConfiguration="EDSWCFNetTCPEndPoint"
                contract="EDSClient.EDS" name="EDSWCFNetTCPEndPoint" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
