<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="EAWSTCPService">
                    <security mode="None" />
                </binding>
                <binding name="EAWSTCPService1">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="EAWSHTTPService">
                    <security mode="None" />
                </binding>
                <binding name="EAWSHTTPService1">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9092/AIRCOM/EAWSR" binding="netTcpBinding"
                bindingConfiguration="EAWSTCPService" contract="EAWSService.EAWS"
                name="EAWSTCPService" />
            <endpoint address="http://localhost:9091/AIRCOM/EAWSR/ep" binding="wsDualHttpBinding"
                bindingConfiguration="EAWSHTTPService" contract="EAWSService.EAWS"
                name="EAWSHTTPService" />
            <endpoint address="net.tcp://localhost:9092/AIRCOM/EAWSR" binding="netTcpBinding"
                bindingConfiguration="EAWSTCPService1" contract="EAWSService.EAWS"
                name="EAWSTCPService1" />
            <endpoint address="http://localhost:9091/AIRCOM/EAWSR/ep" binding="wsDualHttpBinding"
                bindingConfiguration="EAWSHTTPService1" contract="EAWSService.EAWS"
                name="EAWSHTTPService1" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
