<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelMessageLoggingListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="x:\projects\simpleedsquery\ensconsoleapp\app_messages.svclog"
			 type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			 name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
		</sharedListeners>
	</system.diagnostics>
	<system.serviceModel>
		<diagnostics>
			<messageLogging logEntireMessage="true" logMalformedMessages="true"
			 logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
		</diagnostics>
		<services>
			<service name="ENSConsoleApp.ENSMessageReceiver.ENSMessageSubscriber">
				<endpoint binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig"
				 name="ENSReceiverEndPoint" contract="ENSConsoleApp.ENSMessageReceiver.IENSMessageSubscriber" />
			</service>
		</services>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBindingConfig">
					<security mode="None">
						<transport>
							<extendedProtectionPolicy policyEnforcement="Never" />
						</transport>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8833/ENS/SubscriptionManager"
					  binding="wsHttpBinding"
					  bindingConfiguration="WSHttpBindingConfig"
					  contract="ENSProxy.EventSource"
					  name="EventSource" />

			<endpoint address="http://localhost:8833/ENS/SubscriptionManager"
					  binding="wsHttpBinding"
					  bindingConfiguration="WSHttpBindingConfig"
					  contract="ENSProxy.SubscriptionManager"
					  name="SubscriptionManager" />
		</client>
	</system.serviceModel>
</configuration>